/* estilos generales */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;

}

.seccion-descripcion{
    font-size: 1.2rem;
    color: gray;

}

.btn-info{
    font-size: 1.1rem;
    margin: 20px;
    
}

.seccion-texto{
    font-size: 1.2rem;
}

.texto-negro{
    color: black;
}
.texto-blanco{
    color: white;
}

h1{
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}
.seccion-oscura{
    background-color: #1b1b32;
    color: white;
}

.seccion-clara{
    color: black;
    background-color: #f5f6f7;
}

.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* seccion hero */
.hero{
    color: #f5f6f7;
    background-color: black;
    min-height: 450px;
    text-align: center;
}
.logo-hero{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px ;
}
.hero-principal{
    padding: 3rem;
}
.hero-principal h2{
   font-size: 1.5rem;
   color: red ; 
}

/* sobre mi */
.sobre{
    height: 500px;
    padding: 10px;
}
.sobre .contenedor{
    max-width: 600px;
    text-align: center;
}

/* proyectos */
.proyectos-recientes{
    padding: 40px;
}
.proyectos .row div {
    
}
.proyectos-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.proyectos i{
    font-size: 2.5rem;
    color: greenyellow;
    background-color: black;
    padding: 8px 19px;
    border-radius: 50%;

}
.proyectos .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}
.proyectos .columna:hover{
    color: white;
    background-color: #1b1b32;

}

.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.badge{
    margin: 5px;
}
/* eventos */
.eventos{
    padding: 40px;
}

.proyectos-recientes img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}
.proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}

.proyecto:hover img{
    opacity: 0.2;
}

.proyecto{
    position: relative;
}

.proyecto:hover .overlay{
    opacity: 1;
}


.overlay{
    transition: all 0.2s  ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay .iconos-contenedor{
    display: center;

}
.overlay i{
    color: black;
    font-size: 60px ;
    margin: 10px;
}

.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}


/* articulos */
.articulos{
    min-height: 500px;
    padding: 30px;

}

.articulos .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
}
.articulos .card-header{
    font-weight: bold;
}

/* testimonios *//* testimonios *//* testimonios *//* testimonios *//* testimonios *//* testimonios *//* testimonios */
.testimonios{
    padding: 40px 40px 80px 40px;
    width: 100%;

}

.testimonios .carousel{
    max-width: 1000px;
}

.testimonio-imagen{
    width: 150px;  
    height: 200px;
    margin: 10px 10px 20px 10px;
    background-color: blue;
}
.carousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-texto{
    max-width: 100%;
    font-size: 20px;
    min-width: 300px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    
}

.testimonio-info{
    font-weight: bold;
    text-align: center;   
}
.testimonio-info p{
    margin-bottom: 0px;
}
.testimonio-footer .cliente{
    font-size: 1.2rem;
}

.testimonio-info .cargo{
    font-size: 0.9rem;
    color: #656060;
}

/* contacto */
.contacto .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;

}
.contacto .rectangulo{
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}
 .contacto .row{
    width: 100%;
    display: flex;
    align-items: center;

 }

 .contacto .descripcion{
    color: white;
    font-size: 1.2rem;
 }

.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover {
    background-color: white;
    color: black;
}

.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover i{
    color: black;
}


/* pie de pagina */

footer {
    min-height: 500px;
  }
  
  .footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
  }
  
  .footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
  }
  
  .iconos-redes-sociales a:hover i {
    color: black;
  }
  
  .derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 0px;
  }

/* segunda pagina */

.accordion-button{
    align-content: start;
}
.pagina{
    align-content: start;
}

.container_grande{
    height: 100%;
    background-color: #1b1b32;
    color: white;
}

.segundo{
    margin: 100px;
}



/* Adaptable (reposivo) */
@media screen and (max-width: 800px) {
    .testimonio-imagen{
        height: 120px;
        width: 120px;
    }
    .testimonio-texto{
        font-size: 18px;
    }
    
}

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .hero-inferior-imagen   
}

@media screen and (max-width: 400px) {
    .overlay p{
        font-size: 15px;
    }
    .overlay i{
        font-size: 15px;
    }
}